html, body {
    font-size: 18px;
    min-height: 100vh;
    /* font-family: rozarivo; */
    /* margin: 0; */
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: #6743AC38;
}

.header {
    background: rgba(103, 67, 172, 0.3);
    padding: 20px 30px;
}

.header__logo {
    display: block;
    /* padding: 0 auto; */
    /* margin: 0 auto; */
}

.container {
    max-width: 1216px;
    margin: 0 auto;
}

.nav {
    margin: 0 auto;
}

.menu {
    text-align: center;
}

.menu__item {
    display: inline-block;
    margin: 0 25px;
}

.menu__link {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

.menu__link:hover {
    color: rgba(103, 67, 172, 1);
}